@use "../../styles/variables";
@import "../../styles/mediaqueries";

.cardsListWrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  gap: 30px;
  justify-content: center;

  & a {
    display: flex;
    justify-content: center;
  }
}