.wrapper {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    padding: 20px;
    background-color: #46A358;
    border-radius: 5px;
    cursor: pointer;
}

.textModal{
    display: flex;
    color: #fff;
    font-weight: 700;
    font-size: 10px;
}